.login-page {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto
}

.login-page button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #8B6B3D; /* HeartGold background */
    color: white;
    cursor: pointer;
}