.login-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto
}

.login-container {
    width: clamp(200px, 40vw, 500px);    /* 40% of viewport width until 500px */
    height: clamp(220px, 40vh,220px);    /* 40% of viewport height until 300px */
    padding: clamp(12px, 2vh, 24px); 
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 15px, 20px);
    flex-shrink: 0;    /* Prevents container from shrinking below min size */
}