.create-account-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto
}

.create-account-container {
    width: clamp(250px, 40vw, 800px);    /* 40% of viewport width until 500px */
    height: clamp(290px, 40vh,290px);    /* 40% of viewport height until 300px */
    padding: clamp(12px, 2vh, 24px); 
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 10px, 15px);
    flex-shrink: 0;    /* Prevents container from shrinking below min size */
}

.create-account-container button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #8B6B3D; /* HeartGold background */
    color: white;
    cursor: pointer;
}

.creation-boxes {
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 1vh, 10px);
    padding: clamp(2px, 1vh, 5px); 
}

.create-account-container h3 {
    margin: 2px;
}

.creation-boxes h4 {
    margin: 2px;
}